[
  {
    "id": 1,
    "text": "It takes considerable knowledge just to realize the extent of your own ignorance.",
    "votes": 0
  },
  {
    "id": 2,
    "text": "The problem isn't that Johnny can't read. The problem isn't even that Johnny can't think. The problem is that Johnny doesn't know what thinking is; he confuses it with feeling.",
    "votes": 0
  },
  {
    "id": 3,
    "text": "It is hard to imagine a more stupid or more dangerous way of making decisions than by putting those decisions in the hands of people who pay no price for being wrong.",
    "votes": 0
  },
  {
    "id": 4,
    "text": "Much of the social history of the Western world, over the past three decades, has been a history of replacing what worked with what sounded good.",
    "votes": 0
  },
  {
    "id": 5,
    "text": "Socialism in general has a record of failure so blatant that only an intellectual could ignore or evade it.",
    "votes": 0
  },
  {
    "id": 6,
    "text": "People who enjoy meetings should not be in charge of anything.",
    "votes": 0
  },
  {
    "id": 7,
    "text": "You will never understand bureaucracies until you understand that for bureaucrats procedure is everything and outcomes are nothing.",
    "votes": 0
  },
  {
    "id": 8,
    "text": "If you have always believed that everyone should play by the same rules and be judged by the same standards, that would have gotten you labeled a radical 60 years ago, a liberal 30 years ago and a racist today.",
    "votes": 0
  },
  {
    "id": 9,
    "text": "What 'multiculturalism' boils down to is that you can praise any culture in the world except Western culture - and you cannot blame any culture in the world except Western culture.",
    "votes": 0
  },
  {
    "id": 10,
    "text": "The most basic question is not what is best, but who shall decide what is best.",
    "votes": 0
  },
  {
    "id": 11,
    "text": "The first lesson of economics is scarcity: there is never enough of anything to fully satisfy all those who want it. The first lesson of politics is to disregard the first lesson of economics.",
    "votes": 0
  },
  {
    "id": 12,
    "text": "The most fundamental fact about the ideas of the political left is that they do not work. Therefore we should not be surprised to find the left concentrated in institutions where ideas do not have to work in order to survive.",
    "votes": 0
  },
  {
    "id": 13,
    "text": "The more people who are dependent on government handouts, the more votes the left can depend on for an ever-expanding welfare state.",
    "votes": 0
  },
  {
    "id": 14,
    "text": "There are no solutions, there are only trade-offs.",
    "votes": 0
  },
  {
    "id": 15,
    "text": "The word 'racism' is like ketchup. It can be put on practically anything - and demanding evidence makes you a 'racist'.",
    "votes": 0
  },
  {
    "id": 16,
    "text": "The black family survived centuries of slavery and generations of Jim Crow, but it has disintegrated in the wake of the liberals' expansion of the welfare state.",
    "votes": 0
  },
  {
    "id": 17,
    "text": "I have never understood why it is 'greed' to want to keep the money you have earned but not greed to want to take somebody else's money.",
    "votes": 0
  },
  {
    "id": 18,
    "text": "The next time some academics tell you how important diversity is, ask how many Republicans there are in their sociology department.",
    "votes": 0
  },
  {
    "id": 19,
    "text": "The real minimum wage is zero.",
    "votes": 0
  },
  {
    "id": 20,
    "text": "The welfare state is not really about the welfare of the masses. It is about the egos of the elites.",
    "votes": 0
  },
  {
    "id": 21,
    "text": "When you want to help people, you tell them the truth. When you want to help yourself, you tell them what they want to hear.",
    "votes": 0
  },
  {
    "id": 22,
    "text": "Elections should be held on April 16th - the day after we pay our income taxes. That is one of the few things that might discourage politicians from being big spenders.",
    "votes": 0
  },
  {
    "id": 23,
    "text": "The biggest and most deadly 'tax' rate on the poor comes not from the government but from private sector monopolies and cartels.",
    "votes": 0
  }
]