[
  {
    "id": 1,
    "text": "A rational person can find peace by cultivating indifference to things outside of their control.",
    "votes": 0
  },
  {
    "id": 2,
    "text": "Earn with your mind, not your time.",
    "votes": 0
  },
  {
    "id": 3,
    "text": "Trade money for time, not time for money. You're going to run out of time first.",
    "votes": 0
  },
  {
    "id": 4,
    "text": "Learn to sell. Learn to build. If you can do both, you will be unstoppable.",
    "votes": 0
  },
  {
    "id": 5,
    "text": "The only true test of intelligence is if you get what you want out of life.",
    "votes": 0
  },
  {
    "id": 6,
    "text": "Wealth is assets that earn while you sleep",
    "votes": 0
  },
  {
    "id": 7,
    "text": "The quality of your mind is the quality of your life.",
    "votes": 0
  },
  {
    "id": 8,
    "text": "You're never going to get rich renting out your time.",
    "votes": 0
  },
  {
    "id": 9,
    "text": "Your success in life depends on your ability to make good decisions. Your happiness depends on your ability to not care about the outcomes.",
    "votes": 0
  },
  {
    "id": 10,
    "text": "A fit body, a calm mind, a house full of love. These things cannot be bought — they must be earned.",
    "votes": 0
  },
  {
    "id": 11,
    "text": "Following your genuine intellectual curiosity is a better foundation for a career than following whatever is making money right now.",
    "votes": 0
  },
  {
    "id": 12,
    "text": "Escape competition through authenticity.",
    "votes": 0
  },
  {
    "id": 13,
    "text": "The best way, perhaps the only way, to change others is to become an example.",
    "votes": 0
  },
  {
    "id": 14,
    "text": "Free people make free choices. Free choices mean you get unequal outcomes. You can have freedom, or you can have equal outcomes. You can't have both.",
    "votes": 0
  },
  {
    "id": 15,
    "text": "You want to be rich and anonymous, not poor and famous.",
    "votes": 0
  },
  {
    "id": 16,
    "text": "Play long-term games with long-term people. All returns in life, whether in wealth, relationships, or knowledge, come from compound interest.",
    "votes": 0
  },
  {
    "id": 17,
    "text": "The most important trick to be happy is to realize that happiness is a choice that you make and a skill that you develop. You choose to be happy, and then you work at it. It's just like building muscles.",
    "votes": 0
  },
  {
    "id": 18,
    "text": "Sing the song that only you can sing, write the book that only you can write, build the product that only you can build… live the life that only you can live.",
    "votes": 0
  },
  {
    "id": 19,
    "text": "If you don't love yourself who will?",
    "votes": 0
  },
  {
    "id": 20,
    "text": "Who you do business with is just as important as what you choose to do.",
    "votes": 0
  },
  {
    "id": 21,
    "text": "You have two lives, and the second one begins when you realize you only have one",
    "votes": 0
  },
  {
    "id": 22,
    "text": "School, politics, sports, and games train us to compete against others. True rewards — wealth, knowledge, love, fitness, and equanimity — come from ignoring others and improving ourselves.",
    "votes": 0
  },
  {
    "id": 23,
    "text": "If you're good with computers, if you're good at basic mathematics, if you're good at writing, if you're good at speaking, and if you like reading, you're set for life.",
    "votes": 0
  },
  {
    "id": 24,
    "text": "Busy is the death of productivity.",
    "votes": 0
  },
  {
    "id": 25,
    "text": "Reading is faster than listening. Doing is faster than watching.",
    "votes": 0
  },
  {
    "id": 26,
    "text": "The most important skill for getting rich is becoming a perpetual learner. You have to know how to learn anything you want to learn.",
    "votes": 0
  },
  {
    "id": 27,
    "text": "Specific knowledge is knowledge that you cannot be trained for. If society can train you, it can train someone else, and replace you.",
    "votes": 0
  },
  {
    "id": 28,
    "text": "The best jobs are neither decreed nor degreed. They are creative expressions of continuous learners in free markets.",
    "votes": 0
  },
  {
    "id": 29,
    "text": "The most important thing is to be able to do something that society cannot yet easily train other people to do.",
    "votes": 0
  },
  {
    "id": 30,
    "text": "The internet has massively broadened the possible space of careers. Most people haven't figured this out yet.",
    "votes": 0
  }
]

